<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using PierresBakery.Models;

    <h1>Orders</h1>
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
    <p>@Model.Price</p>
    <p>@Model.Date</p>
    <p>@Model.Id</p>

    <p><a href='/'>Back Home</a></p>
    <p><a href='/order/new'>Add Order</a></p>
    <p><a href='/order'>View All Orders</a></p>
  </body>
</html>